sentence-transformers
chromadb
nltk
numpy
tqdm
torch
pypdf
openai
gradio
pytesseract 
pdf2image 
pillow 
opencv-python
ipython
google-genai
speechrecognition 
pydub
pyttsx3
sendgrid
googletrans
setuptools
wheel
openai-whisper
soundfile
matplotlib
sounddevice 
scipy
webrtcvad
plyer
win10toast